$term-color-0-empty: #0375B4;
$term-color-0: #04A8E6;
$term-color-1-empty: #007849;
$term-color-1: #00AB6D;
$term-color-2-empty: #F0944F;
$term-color-2: #F3986F;

form{
  label{
    padding-right:1em;
  }
}

#terms {
  .term {
    padding:1em;
    border-radius: 1em;
    position:relative;
    margin:5px;
    display:inline-block;
    width:30%;
    min-width:400px;
    .field{
      color:white;
      font-weight:bold;
      padding:3px;
      label{
        padding-right:3em;
      }
    }
    &.term-0{
      background-color:$term-color-0;
      &.empty{
        background-color:$term-color-0-empty;
      }
    }
    &.term-1{
      background-color:$term-color-1;
      &.empty{
        background-color:$term-color-1-empty;
      }
    }
    &.term-2{
      background-color:$term-color-2;
      &.empty{
        background-color:$term-color-2-empty;
      }
    }
    .text-field > input {
      position:absolute;
      left:100px;
      width:300px;
    }
  }
  #submit-container{
    //background:green;
    padding:1em;
    padding-right:5em;
    #submit-terms{
      position:relative;
    top:-30px;
      float:right;
      background: #3498db;
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      box-shadow: 0px 1px 3px #666666;
      border-radius: 22px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      &:hover {
        background: #3cb0fd;
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
      }
    }
  }
}

#results{
  color:white;
  padding:1em;
  background:#333333;
  border:5px dashed white;
  margin-left:1em;
  margin-right:1em;
  a{
    color:lightblue;
  }
  .result{
    position: relative;
    display:table-row;
    &:hover{
      background:#444444;
    }
    .result-section{
      display:table-cell;
    }
    .unavailable{
      color:red;
      text-decoration: line-through;
    }
    .domainWithTLD{
      padding-bottom:3px;
      padding-top:3px;
      .colorized-domain-part, .tld{
        font-weight:bold;
        margin-left:2px;
        &:nth-child(1){
          color:$term-color-0;
        } 
        &:nth-child(2){
          color:$term-color-1;
        } 
        &:nth-child(3){
          color:$term-color-2;
        }
        &:nth-last-child(2){
          margin-left:0px;
        }
      }
    }
  }
}